[Desktop Entry]
Version=1.0
Type=Application
Name=Suite Aegis AMD
Comment=Optimización Inteligente A8-7410
Exec=lxterminal -e "python3 /home/aegisproject/Desktop/SuiteAegis/main.py"
Icon=processor
Path=/home/aegisproject/Desktop/SuiteAegis/
Terminal=false
Categories=System;Settings;
